.stats {
  display: flex;
  list-style: none;
  /* justify-content: space-around; */
  padding: 0 0 0 0;
  margin: 0;
}

.item {
  padding: 20px 0;
  text-align: center;
  width: 33.33%;
  background-color: #e3e2e9;
  border: 1px solid #c0bfc5;
}

.label {
  display: block;
  margin: 0 0 4px 0;
}

.quantity {
  display: block;
}
