.transaction_history {
  width: 525px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

tr {
  height: 38px;
  background: #e6f1f3;
}

tr:nth-child(2n) {
  background: #acc5ca;
}

th {
  background: #39cbe5;
}
