.item {
  flex: 0 0 85px;
  text-align: center;
  padding: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.percentage {
  display: block;
}
