.container {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 15px;
}

.main-title {
  text-align: center;
}

.stats,
.stat-list,
.friend-list {
  list-style: none;
}

.status {
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 50%;
}

.is-online {
  background-color: green;
}

.is-offline {
  background-color: red;
}
